version: "3"

services: 
    app:
        build: .
        environment: 
            - PORT=3000
            - DB_USER_DEV= #Cambiar   
            - DB_PASSWORD_DEV= #Cambiar
            - DB_HOST_DEV= #Cambiar
            - DB_NAME_DEV= #Cambiar
            - JWT_SECRET_DEV= #Cambiar
            - JWT_TIME_DEV= #Cambiar
            - DB_USER_PROD= #Cambiar   
            - DB_PASSWORD_PROD= #Cambiar
            - DB_HOST_PROD= #Cambiar
            - DB_NAME_PROD= #Cambiar
            - JWT_SECRET_PROD= #Cambiar
            - JWT_TIME_PROD= #Cambiar
        ports: 
            - "3000:3000"
        volumes: 
            - .:/usr/src/api
            - /usr/src/api/node_modules